
<!-- Index is home page & anything other than that can be ref with <a href="#"> -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task Management HomePage</title>
        <!-- Include your CSS stylesheets, meta tags, or other head content here -->
    </head>
    <body>
        <header>
            <h1>HomePage</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="task.html">Tasks</a></li>
                </ul>
            </nav>
        </header>
        
        <main>
            <section>
                <h2>Stop writing down all your tasks!</h2>
                <p>Manage all your tasks with ease. My goal is help you become the most efficient person you can be. </p>
            </section>
            
            <section>
                <h2>Why Choose This</h2>
                <p>I am here to implement what users want & need to succeed. We all hold the potential & it is up to us to reveal it.</p>
            </section>
        </main>
    
        <footer>
            <p>&copy; 2023 Vikel The Viking</p>
        </footer>
    
        <!-- Include your JavaScript files just before the closing </body> tag -->
        <script src="js/index.js"></script>
    </body>
    </html>
    

