<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Section</title>
</head>

<body>
    <header>
        <header>
            <h1>Page</h1>
            <nav>
                <ul>
                    <!-- This is backend path to index -->
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </header>
    </header>

    <main>
        <h1>About Me</h1>
        <p>Hello, I am a junior developer working on my first ever full web application. I have had many trials & errors
            working on this project & finally with more confidence than previous attempts. This is created using the 
            <b>Spring Boot</b> frame work with <b>Java</b> for language of choice. I am also using NoSQL <b>Mongo DB</b> 
            for my database. For my front end I am utilizing <b>HTML5, CSS,</b> & <b>JavaScript</b>. I have found this journey 
            very fun & rewarding learning new skills along the way. 
            <br>
            <br>
            I am orignally from Maryland, love seafood, being outdoors & learning new ways to become more efficient.
        </p>
    </main>
</body>