<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
</head>

<header>
    <h1>Page</h1>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
        </ul>
    </nav>
</header>

<body>
    <h1>Task Management Application</h1>
    <ul id="taskList"></ul>

    <input type="text" size="15" placeholder="Input New Mission Here:">


    <script src="js/task.js" ></script>
</body>
</html>
